# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.so

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# VSCode / PyCharm
.vscode/
.idea/

# macOS system files
.DS_Store

# Environment variables
.env